@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-surface-50-900-token;
}

html, body { @apply h-full; }
body {
	min-height: 100vh;
}
.bg-gradient, body {
	background-image:
	radial-gradient(at 0% 0%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%),
	radial-gradient(at 98% 1%, rgba(var(--color-error-500) / 0.33) 0px, transparent 50%);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}



/*
:root {
    --theme-font-family-base: 'Inter', sans-serif;
    --theme-font-family-heading: 'Inter', sans-serif;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
} */

@keyframes shake {
	0% {
		transform: translate(0,0);
	}

	33% {
		transform: translate(-5px,0);
	}

	66% {
		transform: translate(5px,0);
	}

	100% {
		transform: translate(0,0);
	}
}

#none-overlay {
	animation: shake 250ms ease-in-out forwards;
	animation-iteration-count: 2;
}

@keyframes bye {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.bye {
	animation: bye 200ms ease-in-out 250ms 1 forwards;
}

@keyframes after-bye {
	to {
		transform: translateX(-1em);
	}
}

.after-bye {
	animation: after-bye 200ms ease-in-out 350ms 1 forwards;
}